{% extends "layout.html" %}
{% block content %}
{% include "navbar.html" %}



<div class="main-content shop-page admin-shop-page">

    <a href="/" class='back-link'>Go Back</a>
    <a href="{{ url_for("admin.new_product", shop_id=shop.get("shop_id")) }}" class="button add-product-btn">Add Product</a>
    <a href="{{ url_for("admin.update_shop", shop_id=shop.get("shop_id")) }}" class="button edit-shop-btn">Edit Shop Details</a>

    <div class="shop-details">
        <h5 class="shop-name">{{ shop.get("shopname") }}</h5>
    </div>
  
  
    {% if not products %}
      <div class="top-heading">No products have been listed by this shop.</div>
    {% else %}
  
    
    <div class="products-list">
  
  
      {% for product in products %}
      <div class="product-card" data-id="{{ product.get("product_id") }}">
        <div class="card-body">
          <img  class="product-image" src="{{ url_for("product_image", product_id=product.get("product_id")) }}">
          <h5 class="product-name">{{ product.get("product_name") }}</h5>
          <div class="flex-group"> 
            <h5 class="product price"> Rs. {{product.get("product_price")}}/&hyphen;</h5>
            
                <a class="button edit-product-btn"  href="{{ url_for("admin.update_product", shop_id=shop.get("shop_id"), product_id=product.get("product_id")) }}">Edit</a>
            
  
          </div>
  
        </div>
  </div>
      {% endfor %}
    
    </div>
  
    {% endif %}
  
    </div>
{% endblock %}